.header_top{
    width:100%;
	height:10px;
	background:#00e3ff;
}
.menu{
	width:100%;
	background:#fff;
	box-shadow:0 3px 3px rgba(146,146,146,1.00);
}
.slider{
	width:100%;
}

html  {

  background-image: url("../barberia/fond.jpg");
background-repeat: no-repeat;
color:#fff;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font:600 16px/18px 'Open Sans',sans-serif;

}

.navbar-inner {
    margin-top: 0;
    background: #fff;
    box-shadow: none;
    border: none;
    height: 55px;
}

    .navbar-inner .brand {
        margin-top: 14px;
        display: block;
    }

.navbar .nav > li {
    float: left;
    height: 75px !important;
}


    .navbar .nav > li > a:hover,
    .navbar .nav > li > a:active,
    .navbar .nav > li > a:focus,
    .navbar .nav > li > a.active,
    .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .active-menu {
        background: #00e3ff !important;
        color: #000 !important;
    }

    .navbar .nav > li > a {
        color: #00e3ff !important;
        float: none;
        height: 100%;
		font-family: 'Roboto', sans-serif;
        line-height: 70px;
        padding: 0 15px;
        text-decoration: none;
        text-shadow: none;
        letter-spacing: 2.322px;
    }

.dropdown-menu > li {
    position: relative;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */ /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

#main-menu {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
    font-weight: 300 !important;
}

.dropdown-menu {
    background-clip: padding-box;
    background: #00e3ff;
    border: none;
    border-radius: 0;
    box-shadow: none;
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

.dropdown .sub-menu li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    text-shadow: none;
	font-family: 'Roboto', sans-serif;
    letter-spacing: 1.322px;
    color: #000 !important;
    border-right: 6px solid #000;
    border-left: 1px solid #efefef;
}

.dropdown .sub-menu {
    margin-top: -1px;
}

    .dropdown .sub-menu li {
        border-top: 1px solid #efefef;
    }

        .dropdown .sub-menu li:nth-child(1) {
            border-top: 1px solid #efefef;
        }

        .dropdown .sub-menu li > a:hover {
            border-right-color: #A1A1A1;
        }

.secondlevel {
    left: 100%;
}

.thirdlevel {
    left: 100% !important;
    top: 0px !important;
}

.forthlevel {
    left: 100% !important;
    top: 0px !important;
}

.navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar .nav > li > .dropdown-menu::before {
    position: absolute;
    top: -7px;
    left: 43px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.navbar .nav > li > .dropdown-menu::after {
    position: absolute;
    top: -6px;
    left: 43px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #00e3ff;
    color: #262626;
    text-decoration: none;
}

img { max-width:100%; }

a {
    -webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}
    
a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}



body{
    border-top:0;
    background:#c4e17f;
    background-image:-webkit-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);background-image:-moz-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);background-image:-o-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);background-image:linear-gradient(to right,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4)
}

.thumbnails li> .fff .caption { 
    background:#fff !important; 
    padding:10px
}

/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}
    
.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

ul.thumbnails { 
    margin-bottom: 0px;
}



/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {  
    color: #999;
}



/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}



/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}


li { list-style-type:none;}

#inf{

margin-top: 5%;


}
