body{
   background: url(http://images.pond5.com/traditional-barbershop-pole-chrome-and-footage-000923520_prevstill.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.thumbnails li> .fff .caption { 
    background:#fff !important; 
    padding:10px
}

/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}
    
.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

ul.thumbnails { 
    margin-bottom: 0px;
}



/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {  
    color: #999;
}



/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}



/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}


li { list-style-type:none;}

#inf{

margin-top: 5%;


}
.box {
    cursor: pointer;
    box-shadow: 0px 2px 10px -4px #333745;
    padding: 20px 0px;
    margin-bottom: 20px;
}

.incon-box i {
    font-size: 35px;
    color: #fff;
    background: #f82e56;
    height: 55px;
    width: 55px;
    line-height: 50px;
    border: 3px solid transparent;
    transition: all .4s ease-in;
}

.box-tittle {
    font-size: 20px;
    text-transform: uppercase;
    color: #333745;
    line-height: 60px;
}

.box:hover .incon-box i {
    background: #fff;
    border: 3px solid #f82e56;
    color: #f82e56;
    transition: all .4s ease-in;
}
.mar-top-30{
    margin-top: 30px;
}
.box iframe{
    width: 100%;
    height: 180px;
}